@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
  font-family: 'EB Garamond', serif;
  background-image: url(../imagem/fundo_pagina.jpg);
  background-size: contain;
  justify-content: center;
}


/* Edição do header */

header {
  display: flex;
  justify-self: center;
  align-items: center;
}

.container_header {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}


@media screen and (max-width: 1280px) {
  .container_header img {
    width: 80px;
  }
}

@media screen and (max-width: 768px) {
  .container_header img {
    width: 70px;
  }
}

@media screen and (max-width: 320px) {
  .container_header img {
    width: 50px;
  }
}





.container_header h1 { /* edita o nome da logo */
  font-size: 26px;
  color: #fff;
}

.container_header h1:hover{ /* Adiciona uma borda no nome da logo */
  border-bottom: 2px solid #fff;
}

.logo { 
  display: inline-block;
}

.header_redes { /* move as redes para a direita e centraliza */
  margin-left: 60%;
  text-align: center;
  padding-bottom: 10px;
}

.header_redes{ /* modifica a cor do h2 e o tamanho da letra  */
  font-size: 13px;
  color: #fff;
}

/* Inicio edição dos icones das redes */
.redes { 
  display: flex;
  gap: 2rem;
  margin-top: 1.2rem;
}

.redes .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem; /* modifica o tamanho das cores dos icones */
  width: 2rem;  /* modifica o tamanho das cores dos icones */
  color: #f5f5f5;
  border-radius: 50%;
  transition: all 0.4s;
}

.footer-link {
  text-decoration: none;
}

.redes .footer-link i {
  font-size: 1rem; /* modifica o tamanho dos icones */
}

.redes .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#github {
  background-color: black;
}



/* Redimencionando o logo e redes */
@media only screen and (max-width: 1280px) {
  header {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .container_header {
    flex-direction: column;
    align-items: center;
   
  }

  .header_redes {
    margin: 0;
    padding-bottom: px;
  }

  .redes .footer-link{
    height: 1.40rem;
    width: 1.40rem;
  }

  .redes .footer-link i{
    font-size: 1rem;
  }

}

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .container_header {
    flex-direction: column;
    align-items: center;
   
  }

  .header_redes {
    margin: 0;
    padding-bottom: px;
  }

}

@media only screen and (max-width: 320px) {
  header {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .container_header {
    flex-direction: column;
    align-items: center;
   
  }

  .header_redes {
    margin: 0;
    padding-bottom: px;
  }

}
/* FIM Inicio edição dos icones das redes */
  /* FIM Edição do header */





    /* Edição Imagem do Meio */

    .container_meio_img {
      width: 100%;
      background-image: url(../imagem/pascoa_overlay.jpg);
      padding-bottom: 20%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-top: 10%;
    }

    /* Redimencionando Imagem container_meio_img */
    @media only screen and (max-width: 1280px) {
      .container_meio_img {
        background-size: 100% 100%;
        padding-bottom: 30%;
        margin-top: 5%;
      }
    }

    @media only screen and (max-width: 768px) {
      .container_meio_img {
        background-size: 100% 100%;
        padding-bottom: 30%;
        margin-top: 15%;
      }
    }

    .container_meio_texto{
      padding-top: 15%;
      font-size: 40px;
      padding-left: 55%;
      color: #f5f5f5;
    }

    /* Redimencionando Imagem .container_meio_texto */
    @media screen and (max-width: 1280px) {
      .container_meio_texto {
        font-size: 30px;
      }
    }

    @media screen and (max-width: 768px) {
      .container_meio_texto {
        font-size: 25px;
        padding-top: 20%;
        padding-left: 49%;
      }
    }

    @media screen and (max-width: 320px) {
      .container_meio_texto {
        font-size: 10px;
      }
    }

  /* FIM Edição Imagem do Meio */
    




  /* Novidades */
    
 .container_novidades{
  padding: 1rem; margin: 1rem;
  padding-top: 50px;
 }

 .container_novidades h1{
  color: #fff;
 }

 @media screen and (max-width: 768px) {
  .container_novidades h1 {
    font-size: 26px;
  }
}


/* Caroucel Novidades */

.gallery {
  background-image: url(../imagem/fundo_cesta.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .gallery {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.gallery-cell{ /* adicionando borda */
  border-radius: 10px;
}

.gallery-cell img{ /* adicionando borda */
  border-radius: 10px;
}

.gallery-cell{
  width: 66%;
  height: 250px;
  margin-right: 10px;
  counter-increment: gallery-cell;
}

@media screen and (max-width: 768px) {
  .gallery-cell {
    width: 100%;
    height: 150px;
    margin-right: 300px;
  }
}

  /* Fim novidades */


  /* Cardápio */

  .container-cardapio{
    background-image: url(../imagem/fundo-cardapio.jpg);
    background-size: contain;
    background-position: center;
    padding-top: 100px;

  }

  .container-cardapio{
    margin-top: 100px;
    padding-top: 50px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 15px;
  }

  .container-cardapio .cardapio-h1{
    text-align: center;
  }

  .container-cardapio h1{
    color: #fff;
  }

  @media screen and (max-width: 768px) {
    .container-cardapio h1 {
      font-size: 26px;
    }
  }

  .tipo_cardapio{
    margin: 1rem; padding: 1rem;
    padding-top: 50px;
    color: #fff;
  }

  .cardapio-doces{ /* modificando icones do doces */
    display: flex;
    align-items: center;
  }

  .cardapio-doces img {
    padding-top: 40px;
    width:50px;

  }

  .cardapio-doces blockquote{
    margin-left: -1%;
  }

  @media screen and (max-width: 768px) {
    .cardapio-doces img {
      width:35px;
      padding-top: 35px;
    }

    .cardapio-doces blockquote{
      margin-left: -4%;
    }
  }
  

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    background-color: #ffddf8;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    flex-grow: 1;
    max-width: 400px;
  }


  .card img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .card h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
  }

  .card-p1 {
    margin-bottom: 0;
    font-size: 18px;
    color: #666;
    padding-bottom: 40px;
    padding-top: 0px;
    text-align: left;
  }

  .card-p2{
    margin-bottom: 0;
    font-size: 25px;
    color: #434242;
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
  }

  .card-p3{
    font-size: 20px;
    color: #434242;
    padding-bottom: 20px;
  }

  .card ul{
    text-align: left;
  
  }

  .card button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: auto; /* alinha o botão à parte inferior do card */
    cursor: pointer;
    transition: background-color 0.2s ease;

  }

  .card button:hover {
    background-color: #357a38;
  }


  /* Icones Novidade pascoa */

  .cardapio-novidade {
    display: flex;
    align-items: center;

  }
  
  .cardapio-novidade img {
    padding-top: 10px;
    width:70px;
  }

  @media screen and (max-width: 768px) {
    .cardapio-novidade img {
      width:50px;
      padding-top: 15px;
    }
  }


  .cardapio-novidade{ /* modificando icones do doces */
    display: flex;
    align-items: center;
  }

  .cardapio-novidade img {
    padding-top: 25px;
    width:50px;

  }

  .cardapio-novidade blockquote{
    margin-left: -1%;
  }

  @media screen and (max-width: 768px) {
    .cardapio-novidade img {
      width:35px;
      padding-top: 30px;
    }

    .cardapio-novidade blockquote{
      margin-left: -4%;
    }
  }

  /* Fim cardápio */




  /* pagina sorteio */

  .pg-2{
    background-image: url(../imagem/fundo_pagina.jpg);
    background-size: cover;
    justify-content: center;
  }

  @media only screen and (max-width: 768px) {
    .pg-2 {
      background-size: contain;
    }
  }

  .container_sorteio_meio{
    background-image: url(../imagem/sorteio.jpg);
  }

  .container_sorteio_meio {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 40%;
    margin-top: 10%;
  }

  /* Redimencionando Imagem container_meio_img */
  @media only screen and (max-width: 1280px) {
    .container_sorteio_meio {
      background-size: 100% 100%;
      padding-bottom: 30%;
      margin-top: 5%;
    }
  }

  @media only screen and (max-width: 768px) {
    .container_sorteio_meio {
      background-size: 100% 100%;
      padding-bottom: 70%;
      margin-top: 15%;
    }
  }

  .sorteio{
    margin: 1rem;
    padding: 1rem;
    margin-top: 100px;
  }

  .sorteio h1 {
    color: #fff;
  }

  @media screen and (max-width: 768px) {
    .sorteio h1 {
      font-size: 25px;
    }
  }

  .container-sorteio{
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-self: center;
    background-image: url(../imagem/fundo-sorteio.jpg);
    border-radius: 15px;
    
  }

  .container-sorteio .rifa{
    padding-left: 20%;
  }

  .rifa{
    padding-top: 200px;
    text-align: center;
  }

  .rifa h1{
    padding-bottom: 30px;
    font-size: 40px;
    color: #000000;
  }

  .rifa li{
    list-style: none;
  }

  .rifa li{
    font-size: 30px;
    color: #2f2f2f;
    text-align: left;
  }



.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #357a38;
}

/* tornando responsivo */
@media (max-width: 1280px) {
  .container-sorteio {
    flex-direction: column;
    align-items: center;
    
  }

  .container-sorteio img{
    width: 60%;
  }

  .rifa{
    padding-top: 20px;
  }

  .container-sorteio .rifa{
    padding-left: 0;
  }
}



@media (max-width: 765px) {
  .container-sorteio {
    flex-direction: column;
    align-items: center;
    
  }

  .container-sorteio img{
    width: 100%;
  }

  .rifa{
    padding-top: 20px;
  }

  .container-sorteio .rifa{
    padding-left: 0;
  }
}


@media (max-width: 765px) {
  .rifa h1{
    font-size: 30px;
  }

  .rifa li{
    font-size: 20px;
  }
}




  /* Fim pagina Sorteio */





  /* Footer */

  :root{
  /* nome da variavel | cor-variavel*/
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

  footer {
    width: 100%;
    /* aplicando a variavel */
    color: var(--color-neutral-40);
}

.footer-link{
    text-decoration: none;
}

#footer_content{
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts{
    margin-bottom: 0.75rem;
}

.footer_social_media{
    display: flex;
    gap: 2rem; /*define os espaços entre as linhas e colunas*/
    margin-top: 1.5rem;
}

.footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%; /* faz uma borda redonda envolta dos icones */
    transition: all 0.4s; /* adiciona uma transição ao passar o mause nos icones */
}

.footer_social_media .footer-link i{ /* muda o tamanho dos icones */
    font-size: 1.25rem;
}

.footer_social_media .footer-link:hover{ /* adiciona opacidade ao passar o mouse nos icones */
    opacity: 0.8;
}

#instagram { /* muda a cor de fundo do instagram */
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{ /* muda a cor de fundo do facebook */
    background-color: #4267b3;
}

#github{ /* muda a cor de fundo do github */
    background-color: black;
}

.footer_list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer_list .footer-link{
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer_list .footer-link:hover{
    color: #ff0080;
}

#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p{
    color: var(--color-neutral-30);
    
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input{
    all:unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button{
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover{
    opacity: 0.8;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

  /* Fim footer */




  


